:root {
    --bg-light: #ffffff;
    --text-light: #1a1a1a;

    --bg-dark: #1e1e1e;
    --text-dark: #ffffff;
}


body.dark {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body.light {
    background-color: var(--bg-light);
    color: var(--text-light);
}

body {
    margin: 0%;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: all 0.3s ease;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    
}